.inputEffect {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  border-radius: inherit;
}

.inputTint {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.18);
  border-radius: inherit;
}

.inputShine {
  position: absolute;
  inset: 0;
  z-index: 2;
  box-shadow:
    inset 2px 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.2);
  border-radius: inherit;
}

